<div>
    <div *ngIf="isInitialized">
        <div style="margin-top: 8px;">
            <p-selectButton [options]="statuses" [(ngModel)]="selectedStatus" (onChange)="onStatusChanged()"></p-selectButton>
            <button [style.float]="'right'" type="button" pButton (click)="refreshData()" label="Refresh"></button>
        </div>        
        <p></p>
        <div class="scrollable-container" style="height: 59vh">
            <p-table selectionMode="single"
                    responsive="true"
                    [rows]="rows"
                    [loading]="loading"
                    [columns]="cols" 
                    [resizableColumns]="true"
                    [value]="tasks" 
                    [(selection)]="selectedTask"
                    (onRowSelect)="onRowSelect()" 
                    (onRowUnselect)="onRowUnselect()">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                            {{col.header}}
                            <p-sortIcon *ngIf="col.sortable" [field]="col.field" 
                                ariaLabel="Activate to sort" 
                                ariaLabelDesc="Activate to sort in descending order" 
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task>
                    <tr [pSelectableRow]="task">
                        <td class="ui-resizable-column">{{task.name}}</td>
                        <td class="ui-resizable-column">{{task.priority | priority}}</td>
                        <td class="ui-resizable-column">{{task.added | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td class="ui-resizable-column">{{task.completed | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td class="ui-resizable-column">{{task.timeToComplete}}</td>
                        <td class="ui-resizable-column">
                            <i *ngIf="task.isActive" class="pi pi-check complete-icon" pTooltip="Complete task" tooltipPosition="top" (click)="showCompleteDialog = true"></i>
                            <i *ngIf="!task.isActive" class="pi pi-trash delete-icon" pTooltip="Delete task" tooltipPosition="top" (click)="showDeleteDialog = true"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-paginator [rows]="15" [rowsPerPageOptions]="rowsPerPageOptions" pageLinkSize="10" [totalRecords]="totalTasks" [first]="first" (onPageChange)="onPageChanged($event)"></p-paginator>

        <p></p>
        <p-fieldset class="details-fieldset" *ngIf="selectedTask !== null" legend="Task details"
            [toggleable]="false">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
                style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Name:</div>
                    <div class="ui-grid-col-10">{{selectedTask.name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Description:</div>
                    <div class="ui-grid-col-10">
                        <span style="white-space: pre">{{selectedTask.description}}</span>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Status:</div>
                    <div class="ui-grid-col-10">{{selectedTask.status | status}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Priority:</div>
                    <div class="ui-grid-col-10">{{selectedTask.priority | priority}}</div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Added:</div>
                    <div class="ui-grid-col-10">{{selectedTask.added | date: 'dd/MM/yyyy hh:ss' }}</div>
                </div>
            </div>
        </p-fieldset>
    </div>

    <p-dialog header="Confirmation" 
            [(visible)]="showCompleteDialog" 
            [modal]="true" 
            [responsive]="true" 
            [baseZIndex]="10000">
        <span>
            Are you sure want to complete the selected task?<br/>
            Please click on "OK" button to confirm operation.<br/>
            Click on "Cancel" button to close the dialog.
        </span>
        <p-footer>
            <button type="button" pButton (click)="confirmCompleteDialog()" label="OK"></button>
            <button type="button" pButton (click)="closeDialog()" label="Cancel" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>

    <p-dialog header="Confirmation"
            [(visible)]="showDeleteDialog"
            [modal]="true"
            [responsive]="true"
            [baseZIndex]="10000">
        <span>
            Are you sure want to delete the selected task?<br/>
            Please click on "OK" button to confirm operation.<br/>
            Click on "Cancel" button to close the dialog. 
        </span>
        <p-footer>
            <button type="button" pButton (click)="confirmDeleteDialog()" label="OK"></button>
            <button type="button" pButton (click)="closeDialog()" label="Cancel" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>

    <p-toast></p-toast>
</div>