<div>
    <div>
        <div style="margin-top: 8px;">
            <p-selectButton [options]="statuses" [(ngModel)]="selectedStatus" (onChange)="onStatusChanged()"></p-selectButton>
            <span class="header-info">Page: </span>
            <input #pageInput class="header-page"  min="1" type="number" pInputText [(ngModel)]="page"/>
            <span class="header-info">Total tasks: {{totalTasks}}</span>
            <button [style.float]="'right'" type="button" pButton (click)="refreshData()" label="Refresh"></button>
        </div>       
        <p></p>
        <div *ngIf="isInitialized" class="scrollable-container" style="max-height: 62vh">
            <p-table selectionMode="single"
                    responsive="true"
                    [rows]="rows"
                    [loading]="loading"
                    [columns]="cols" 
                    [resizableColumns]="true"
                    [value]="tasks" 
                    [(selection)]="selectedTask"
                    (onRowSelect)="onRowSelect()" 
                    (onRowUnselect)="onRowUnselect()"
                    [rowsPerPageOptions]="rowsPerPageOptions"
                    pageLinks="15"
                    paginatorPosition="top"
                    [lazy]="true" 
                    (onLazyLoad)="onPageChanged($event)"
                    [paginator]="true"
                    [totalRecords]="totalTasks" 
                    [first]="first">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                        <col [style.width]="'7%'">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.sortable ? col.field : null" pResizableColumn>
                            {{col.header}}
                            <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="null">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task>
                    <tr [pSelectableRow]="task">
                        <td class="ui-resizable-column">{{task.name}}</td>
                        <td class="ui-resizable-column" [ngStyle]="getPriorityStyle(task.priority)">{{task.priority | priority}}</td>
                        <td class="ui-resizable-column">{{task.added | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td class="ui-resizable-column">{{task.completed | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td class="ui-resizable-column" [ngStyle]="getTimeToCompleteStyle(task)">{{task.timeToCompleteText}}</td>
                        <td class="ui-resizable-column">
                            <button *ngIf="task.isActive" 
                                    pButton 
                                    style="height: 24px;" 
                                    pTooltip="Complete task" 
                                    tooltipPosition="top" 
                                    class="ui-button-success" 
                                    icon="pi pi-check"
                                    (click)="openDialog(task.id, false)">
                            </button>
                            <button *ngIf="!task.isActive" 
                                    pButton 
                                    style="height: 24px;" 
                                    pTooltip="Delete task" 
                                    tooltipPosition="top" 
                                    class="ui-button-danger" 
                                    icon="pi pi-trash"
                                    (click)="openDialog(task.id)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p></p>
        <p-fieldset class="details-fieldset" *ngIf="selectedTask !== null" legend="Task details"
            [toggleable]="false">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
                style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Name:</div>
                    <div class="ui-grid-col-10">{{selectedTask.name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Description:</div>
                    <div class="ui-grid-col-10">
                        <span style="white-space: pre">{{selectedTask.description}}</span>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Status:</div>
                    <div class="ui-grid-col-10">{{selectedTask.status | status}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Priority:</div>
                    <div class="ui-grid-col-10">{{selectedTask.priority | priority}}</div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Added:</div>
                    <div class="ui-grid-col-10">{{selectedTask.added | date: 'dd/MM/yyyy hh:ss' }}</div>
                </div>
            </div>
        </p-fieldset>
    </div>

    <p-confirmDialog [style]="{width: '425px'}"></p-confirmDialog>

    <p-toast></p-toast>
</div>