<div>
    <div *ngIf="tasks.length === 0">
        <p-messages [(value)]="msgs" [closable]="false"></p-messages>
    </div>
    <div *ngIf="tasks.length> 0">
        <p-table [value]="tasks" selectionMode="single"
            [(selection)]="selectedTask" scrollHeight="50vh" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Added</th>
                    <th>Time to complete</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr [pSelectableRow]="task">
                    <td>{{task.name}}</td>
                    <td>{{task.priority}}</td>
                    <td>{{task.added | date: 'dd/MM/yyyy hh:ss'}}</td>
                    <td>{{task.timeToComplete}}</td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
        <p></p>
        <p-fieldset class="details-fieldset" *ngIf="selectedTask !== null" legend="Task details"
            [toggleable]="false">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
                style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Name:</div>
                    <div class="ui-grid-col-10">{{selectedTask.name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Description:</div>
                    <div class="ui-grid-col-10">
                        <span style="white-space: pre">{{selectedTask.description}}</span>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Status:</div>
                    <div class="ui-grid-col-10">{{selectedTask.status}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Priority:</div>
                    <div class="ui-grid-col-10">{{selectedTask.priority}}</div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Added:</div>
                    <div class="ui-grid-col-10">{{selectedTask.added | date: 'dd/MM/yyyy hh:ss' }}</div>
                </div>
            </div>
        </p-fieldset>
    </div>
</div>
